{% extends "collection/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="text-white border-warning bg-dark mb-3" style="padding: 0px;">
        <h5 class="card-header text-center">{{ author.username }}</h5>
        <br>
        <div class="row">
                    <div class="col-md-6 text-center">
            <img class="card-img-top" src="{{author_profile.image.url}}" alt="Card image cap" style="width: 350px;">
        </div>
        <div class="col-md-6">
            {% if books %}
            <h4>Books written by {{author.username}}:</h4>
            <div class="card-body">
                  <ul class="list-group list-group-flush list-group-item text-white border-warning bg-dark">
                      {% for book in books %}
                      <a class="text-white border-warning bg-dark" href="{% url 'book-detail' book.book.id %}">
                        <li class="list-group-item text-white border-warning bg-dark"><span><img src="{{book.book.imageUrl}}" style="width: 50px;"></span>  {{ book.book.bookTitle }}</li>
                      </a>
                      {% endfor %}
                  </ul>

            </div>
            {% else %}
            <h2>{{author.username}} hasn't written any books</h2>
            {% endif %}
        </div>
        </div>
        <br>
    </div>
</div>
<br>
</div>
{% endblock content %}