{% extends "collection/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section text-white border-warning bg-dark">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Log in
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-warning" type="submit">
                Log in
            </button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Don't have an account yet? <a class="ml-2" href="{% url 'register' %}">Sign up</a></small>
    </div>
</div>
{% endblock content %}