{% extends "collection/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
            <!-- Sidebar -->
    <div class="content-section text-white border-warning bg-dark">
        <div class="media">
            <img class="rounded-circle border border-warning account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Update profile info
                </legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-warning" type="submit">Update</button>
            </div>
        </form>
    </div>
    {% if books %}
    <h3 class="text-white">Books you wrote:</h3>
    {% for book in books %}
    <a class="text-white border-warning bg-dark" href="{% url 'book-detail' book.book.id %}">
        <li class="list-group-item text-white border-warning bg-dark"><span><img src="{{book.book.imageUrl}}" style="width: 50px;"></span>  {{ book.book.bookTitle }}</li>
    </a>
    {% endfor %}
    {% endif %}



{% endblock content %}