{% extends "collection/base.html" %}
{% block content %}

<div class="container">
    <form method='GET'>
        <div class="input-group mb-3 text-white border-warning bg-dark">
            <input type="text" class="form-control" name="name" placeholder="Search for books" aria-label="Movie name" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </div>
        </div>
    </form>
    <br>
    {% if name %}
    <h3 class="text-secondary">Search results for <b class="text-warning">"{{ name }}"</b>:</h3>
    {% else %}
        {% if recommendations %}
        <p class="text-center text-warning">Recommended for you:</p>
        <div class="row">
            <div class="col-md-12">
              <div class="carousel slide multi-item-carousel" id="theCarousel">
                <div class="carousel-inner">
                {% for recommendation in recommendations %}
                    {% if forloop.first %}
                    <div class="carousel-item active">
                        <a href="{% url 'book-detail' recommendation.id %}"><img src="{{recommendation.imageUrl}}" class="img-fluid mx-auto d-block" alt="{{recommendation.bookTitle}}"></a>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <a href="{% url 'book-detail' recommendation.id %}"><img src="{{recommendation.imageUrl}}" class="img-fluid mx-auto d-block" alt="{{recommendation.bookTitle}}"></a>
                    </div>
                    {% endif %}

                {% endfor %}
                </div>
                  <a class="carousel-control-prev" href="#theCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#theCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
            </div>
          </div>
            <br>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="card-columns text-center">
        {% for book in object_list %}
            <a href="{% url 'book-detail' book.id %}">
            <div class="card text-white border-warning bg-dark mb-3" style="padding: 0px;">
                <h5 class="card-header">{{book.bookTitle}}</h5>
                <img class="card-img-top" src="{{book.imageUrl}}" alt="Card image cap">
            </div>
            </a>
            <br>
        {% empty %}
            <h5>No books yet.</h5>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center">
    {% if name %}
    {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?name={{ name }}&page=1" class="btn btn-outline-warning mb-4">First</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a href="?name={{ name }}&page={{ num }}" class="btn btn-warning mb-4">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?name={{ name }}&page={{ num }}" class="btn btn-outline-warning mb-4">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?name={{ name }}&page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning mb-4">Last</a>
    {% endif %}
    {% endif %}
    {% else %}

    {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-warning mb-4">First</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a href="?page={{ num }}" class="btn btn-warning mb-4">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-outline-warning mb-4">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning mb-4">Last</a>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{% endblock content %}